# --- GPT-4o model configuration ---
AZURE_OPENAI_4O_ENDPOINT=
AZURE_OPENAI_4O_DEPLOYMENT=
AZURE_OPENAI_4O_API_VERSION=

# --- GPT-4.1 model configuration ---
AZURE_OPENAI_41_ENDPOINT=
AZURE_OPENAI_41_DEPLOYMENT=
AZURE_OPENAI_41_API_VERSION=

# --- GPT-5.1 model configuration ---
AZURE_OPENAI_51_ENDPOINT=
AZURE_OPENAI_51_DEPLOYMENT=
AZURE_OPENAI_51_API_VERSION=

# --- GPT-5.4 model configuration ---
AZURE_OPENAI_54_ENDPOINT=
AZURE_OPENAI_54_DEPLOYMENT=
AZURE_OPENAI_54_API_VERSION=

# --- Agent-Framework configuration ---
AZURE_AI_PROJECT_ENDPOINT=https://<your-resource-name>.services.ai.azure.com/api/projects/<your-project-name>
AZURE_OPENAI_RESPONSES_DEPLOYMENT_NAME=gpt-5.1

# --- H-STAR Agent ---
HSTAR_MODEL_NAME=gpt-5.1
HSTAR_DB_PATH=db/drug_shipments_200.db


EVAL_AZURE_OPENAI_VERSION=2025-03-01-preview
EVAL_AZURE_OPENAI_ENDPOINT=https://<your-resource-name>.openai.azure.com/
EVAL_AZURE_OPENAI_MODEL=gpt-4.1