# --- GPT-4o model configuration ---
AZURE_OPENAI_4O_ENDPOINT=
AZURE_OPENAI_4O_DEPLOYMENT=
AZURE_OPENAI_4O_API_VERSION=

# --- GPT-4.1 model configuration ---
AZURE_OPENAI_41_ENDPOINT=
AZURE_OPENAI_41_DEPLOYMENT=
AZURE_OPENAI_41_API_VERSION=

# --- GPT-5.1 model configuration ---
AZURE_OPENAI_51_ENDPOINT=
AZURE_OPENAI_51_DEPLOYMENT=
AZURE_OPENAI_51_API_VERSION=

# --- GPT-5.4 model configuration ---
AZURE_OPENAI_54_ENDPOINT=
AZURE_OPENAI_54_DEPLOYMENT=
AZURE_OPENAI_54_API_VERSION=